<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meizu.pushdemo" 
    android:versionCode="130" 
    android:versionName="1.3.170110">


    <uses-permission android:name="com.meizu.flyme.push.permission.RECEIVE"></uses-permission>
    <permission android:name="com.meizu.pushdemo.push.permission.MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.meizu.pushdemo.push.permission.MESSAGE"></uses-permission>

    <uses-permission android:name="com.meizu.c2dm.permission.RECEIVE" />
    <permission android:name="com.meizu.pushdemo.permission.C2D_MESSAGE"
                android:protectionLevel="signature"></permission>
    <uses-permission android:name="com.meizu.pushdemo.permission.C2D_MESSAGE"/>
    
    
    <!-- sdk  所需权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- <uses-permission android:name="android.permission.WRITE_SETTINGS" /> -->
    <!-- <uses-permission android:name="android.permission.VIBRATE" /> -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    

    <application
        android:allowBackup="true"
        android:icon="@drawable/flyme_status_ic_notification"
        android:label="@string/app_name"
         >
        <activity
            android:name="com.meizu.pushdemo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".TestActivity"
                  android:exported="true"/>
        <service android:name=".ForegroundService"/>
        
        <!-- 必要配置 -->
        <service
            android:name="com.meizu.cloud.pushsdk.NotificationService"
            android:exported="true"/>

        <!-- 必要配置 -->
        <receiver android:name="com.meizu.cloud.pushsdk.SystemReceiver" >
            <intent-filter>
                <action android:name="com.meizu.cloud.pushservice.action.PUSH_SERVICE_START"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>


        <!-- push应用定义消息receiver声明 -->
        <receiver android:name="com.meizu.pushdemo.PushMsgReceiver">
            <intent-filter>
                <!-- 接收push消息 -->
                <action android:name="com.meizu.flyme.push.intent.MESSAGE" />
                <!-- 接收register消息-->
                <action android:name="com.meizu.flyme.push.intent.REGISTER.FEEDBACK"/>
                <!-- 接收unregister消息-->
                <action android:name="com.meizu.flyme.push.intent.UNREGISTER.FEEDBACK"/>

                <action android:name="com.meizu.c2dm.intent.REGISTRATION" />
                <action android:name="com.meizu.c2dm.intent.RECEIVE" />

                <category android:name="com.meizu.pushdemo"></category>
            </intent-filter>


        </receiver>

    </application>

</manifest>
